body {
    background-color: rgba(1,1,1,0.1);
}

table {
    width: 600px;
    height: 600px;
}

tr {
    height: 75px;
}

td {
    width: 75px;
}

#impar td:nth-child(odd) {
    background-color: black;
}

#par td:nth-child(even) {
    background-color: black;
}

#impar td:nth-child(even) {
    background-color: white;
}

#par td:nth-child(odd) {
    background-color: white;
}

#impar td:nth-child(odd) {
    color: white;
}

#par td:nth-child(even){
    color: white;
}

td div {
    visibility: hidden;
    width: 70px;
    height: 70px;
}

td:hover div {
    visibility: visible;
}

table {
    border: brown solid 5px;
    box-shadow: 4px 4px rgba(1,1,1,0.5);
}

td div:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

h1 {
    text-transform: uppercase;
    font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    display: inline;
}

.col-1 {
    float: left;
    width: 20%;
}

.col-2 {
    float: left;
    width: 20%;
}

.col-3 {
    float: left;
    width: 20%;
}